<!-- Success and Failure Todo creation alerts -->
<div class="alert alert-success" role="alert" ng-show="isSuccess">
    {{ successMsg }}
</div>
<div class="alert alert-danger" role="alert" ng-show="isfail">
    {{ failMsg }}
</div>

<h2>My Todos</h2>

<!-- Todos input -->
<form role="form" ng-submit="addTodo()">
  <div class="row">
    <div class="input-group">
      <input class="form-control" type="text" placeholder="What needs to be done?" ng-model="todo"/>
      <span class="input-group-btn">
        <input class="btn btn-primary" type="submit" value="Add">
      </span>
    </div>
  </div>
</form>

<hr>

<!-- Todos List -->
<div ui-sortable ng-model="todos">
  <p class="input-group moveable" ng-repeat="todo in todos">
    <input type="text" class="form-control" ng-model="todo"/>
    <span class="input-group-btn">
      <button class="btn btn-danger" aria-label="Remove" ng-click="removeTodo($index)">X</button>
    </span>
  </p>
</div>
